/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px auto;
    background-color: #242424;
    color: white;
} */

body {
    margin: 0px auto;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    user-select: none;
}
html {
    scroll-behavior: smooth;
  }